{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
<h1 class="users__h1">Авторизация</h1>
<form action="/auth" class="needs-validation" method="POST">
    {% if message %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <div class="mb-3 has-validation">
        <label class="form-label" for="name">Имя</label>
        <input class="form-control" id="name" name="name" required type="text">
        <div class="invalid-feedback">
            Пожалуйста, выберите имя пользователя.
        </div>
    </div>
    <div class="mb-3 has-validation">
        <label class="form-label" for="password">Пароль</label>
        <input class="form-control" id="password" name="password" required type="password">
        <div class="invalid-feedback">
            Пожалуйста, выберите пароль.
        </div>
    </div>
    <!--      <div class="mb-3 form-check">-->
    <!--        <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
    <!--        <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
    <!--      </div>-->
    <button class="btn btn-primary" type="submit">Авторизоваться</button>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}