{% extends 'base.html' %}

{% block title %}
    {{ user.name }}
{% endblock %}

{% block body %}
    <h1 class="users__h1">{{ user.name }}</h1>
    {% if user.avatar != None %}
        <img src="{{ user.avatar }}" alt="" width="200" height="200">
    {% endif %}
    {% if user.developer %}
        <p><strong>{{ user.name }}</strong> упорно трудится над изучением <em>{{ user.language }}</em> <br>
        И не смотря на юный возраст, а именно - {{ user.age }} лет. У {{ user.name }} не так уж и плохо получатеся
        кодить.</p>
    {% else %}
        <p><strong>{{ user.name }}</strong> пинает ногу и ничего не делает :-)</p>
    {% endif %}
{% endblock %}