.users__h1 {
    text-align: center;
    margin-bottom: 40px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-right: 15px;
    margin-bottom: 15px;
}

.nav_auth {
    margin-left: 270px;
}

.nav_logout {
    margin-left: 400px;
}