{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
  <h1 class="users__h1">Новый пост</h1>
  <form action="/blog/add" class="row g-3 needs-validation" method="POST" novalidate>
    <div class="mb-3">
      <label class="form-label" for="exampleFormControlInput1">Заголовок</label>
      <input class="form-control" id="exampleFormControlInput1" placeholder="Заголовок" type="text" name="title" required>
    </div>
    <div class="mb-3">
      <label class="form-label" for="exampleFormControlInput1">Тег</label>
      <select class="form-select" required name="tag">
        <option selected disabled>Выберите тег</option>
        <option value="JAVA">JAVA</option>
        <option value="PYTHON">PYTHON</option>
        <option value="JAVASCRIPT">JAVASCRIPT</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label" for="exampleFormControlTextarea1">Тест</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" name="text" required></textarea>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Создать</button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}