{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block body %}
  <div class="row col-md-12">
    <h1 class="users__h1">{{ post.title }} <span class="badge bg-info" style="font-size:12px">{{ post.tag }}</span></h1>
    <pre>{{ post.text }}</pre>
  </div>
  {% if post.user_id == session['user_id'] %}
    <div class="row col-md-2" style="margin-top: 50px">
      <a href="/blog/{{ post.id }}/edit" class="btn btn-warning" style="margin-bottom: 15px">Редактировать</a>
      <a href="/blog/{{ post.id }}/delete" class="btn btn-danger">Удалить</a>
    </div>
  {% endif %}
{% endblock %}